include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include volunteer *.css
recursive-include volunteer *.csv
recursive-include volunteer *.html
recursive-include volunteer *.ico
recursive-include volunteer *.js
recursive-include volunteer *.json
recursive-include volunteer *.md
recursive-include volunteer *.png
recursive-include volunteer *.py
recursive-include volunteer *.svg
recursive-include volunteer *.txt
recursive-exclude volunteer *.pyc